h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 1.25em;
	line-height: 1.4em;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: 1.05em;
}

h4, h5, h6 {
	font-size: 1em;
	margin: 1em 0;
}

h1.title {
	text-align: start;
	-webkit-hyphens: manual;
	margin-bottom: 1em;
}

.title {
	display: none;
}


.page {
	text-align: start;
	word-wrap: break-word;
}

.page.rtl {
	direction: rtl;
}

a {
	color: rgb(65, 110, 210);
	text-decoration: none;
}

#article {
	text-rendering: optimizeLegibility;
}

#article * {
	/* Scale down anything larger than our view. Max-width maintains aspect ratios on images. */
	max-width: 100%;
}

#article img {
	/* By default, images are centered on their own line. */
	margin: 0.5em;
	display: block;
	height: auto;
}

#article img.reader-image-tiny {
	display: inline;
	margin: 0;
}

#article .leading-image, figure, .auxiliary {
	margin-bottom: .25em;
}

#article .leading-image img {
	margin: auto;
	display: block;
	clear: both;
}

#article .leading-image .credit {
	margin: 0;
	text-align: right;
}

#article .leading-image .caption, #article .leading-image .credit,
	#article figcaption, #article .auxiliary figcaption {
	font-size: 0.75em;
	line-height: 1.5em;
	margin-top: 1em;
	width: 100%;
}

#article .leading-image .credit+.caption {
	margin-top: 0.1em;
}

#article .auxiliary {
	display: block;
	clear: both;
	font-size: 0.75em;
	line-height: 1.4em;
	text-align: start;
}

#article .auxiliary>* {
	-webkit-margin-start: 0;
}

#article .auxiliary img, #article .auxiliary>*:first-child {
	margin: 0;
}

/* If the element immediately after an image is inline, it might bump up against the image. */
#article .auxiliary img+* {
	display: block;
}

#article .auxiliary figcaption {
	font-size: 100%;
}

#article .auxiliary * {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#article .float.left {
	float: left;
	margin-right: 20px;
}

#article .float.right {
	float: right;
	margin-left: 20px;
}

#article .clear {
	clear: both;
}

#article ul.list-style-type-none, #article ol.list-style-type-none,
	#article .list-style-type-none>li {
	list-style-type: none;
	-webkit-padding-start: 0;
}

#article .page div.scrollable {
	overflow-x: scroll;
	word-wrap: normal;
}

#article .page div.scrollable table {
	max-width: none;
}

#article .large-element {
	max-width: 100%;
	height: auto;
}

#article .leading-image, #article figure, #article .auxiliary {
	font-family: -apple-system-font;
}

body #article .leading-image, body #article figure, body #article .auxiliary
	{
	color: rgba(0, 0, 0, 0.65);
}

figure {
	margin: 0;
}

hr {
	background: rgba(0, 0, 0, 0.2);
	height: 1px;
	border: 0;
}

pre {
	font-size: 0.93em;
	line-height: 1.5em;
}

blockquote {
	color: rgba(0, 0, 0, 0.65);
	margin-left: 2px;
	margin-right: 6px;
	padding-left: 16px;
}

/* Collapse excess whitespace. */
.page p>p:empty, .page div>p:empty, .page p>div:empty, .page div>div:empty,
	.page p+br, .page p>br:only-child, .page div>br:only-child, .page img+br
	{
	display: none;
}

.page table {
	font-size: 0.9em;
	text-align: start;
	word-wrap: break-word;
	border-collapse: collapse;
}

.page table td, .page table th {
	padding: 0.25em 0.5em;
	border: 1px;
}

.page table th {
	background-color: rgba(0, 0, 0, 0.025);
}

.page sup, .page sub {
	line-height: 1;
	font-size: 0.75em;
}

.hidden {
	display: none;
}

/* Fonts */
body.system {
	font-family: -apple-system-font;
}

body.athelas {
	font-family: Athelas;
}

body.charter {
	font-family: Charter;
}

body.georgia {
	font-family: Georgia;
}

body.iowan {
	font-family: 'Iowan Old Style';
}

body.palatino {
	font-family: Palatino;
}

body.seravek {
	font-family: Seravek;
}

body.times {
	font-family: 'Times New Roman';
}

body.yugothic {
	font-family: 'YuGothic';
}

body.yumincho {
	font-family: 'YuMincho';
}

body.hiraginokaku {
	font-family: 'Hiragino Kaku Gothic ProN';
}

body.hiraginomincho {
	font-family: 'Hiragino Mincho ProN';
}

body.hiraginomaru {
	font-family: 'Hiragino Maru Gothic ProN';
}

body.heitisc {
	font-family: 'Heiti SC';
}

body.songtisc {
	font-family: 'Songti SC';
}

body.kaitisc {
	font-family: 'Kaiti SC';
}

body.yuantisc {
	font-family: 'Yuanti SC';
}

body.heititc {
	font-family: 'Heiti TC';
}

body.songtitc {
	font-family: 'Songti TC';
}

body.kaititc {
	font-family: 'Kaiti TC';
}

body.applesdgothicneo {
	font-family: 'Apple SD Gothic Neo';
}

body.nanumgothic {
	font-family: 'NanumGothic';
}

body.nanummyeongjo {
	font-family: 'NanumMyeongjo';
}

body.khmer {
	font-family: 'Khmer MN';
}

body.khmersangnam {
	font-family: 'Khmer Sangnam MN';
}

body.lao {
	font-family: 'Lao MN';
}

body.laosangnam {
	font-family: 'LaoSangnam MN';
}

body.thonburi {
	font-family: 'Thonburi';
}

body.kailasa {
	font-family: 'Kailasa';
}

body.geezapro {
	font-family: 'Geeza Pro';
}

body.kefa {
	font-family: 'Kefa'
}

body.arialhebrew {
	font-family: 'Arial Hebrew'
}

body.mshtakan {
	font-family: 'Mshtakan'
}

body.plantagenetcherokee {
	font-family: 'Plantagenet Cherokee'
}

body.euphemiaucas {
	font-family: 'Euphemia UCAS'
}

body.bangla {
	font-family: 'Bangla Sangam MN'
}

body.gujarati {
	font-family: 'Gujarati Sangam MN'
}

body.gurmukhi {
	font-family: 'Gurmukhi MN'
}

body.devanagari {
	font-family: 'Devanagari Sangam MN'
}

body.kannada {
	font-family: 'Kannada Sangam MN'
}

body.malayalam {
	font-family: 'Malayalam Sangam MN'
}

body.oriya {
	font-family: 'Oriya Sangam MN'
}

body.sinhala {
	font-family: 'Sinhala Sangam MN'
}

body.inaimathi {
	font-family: 'InaiMathi'
}

body.tamil {
	font-family: 'Tamil Sangam MN'
}

body.telugu {
	font-family: 'Telugu Sangam MN'
}

@media print {
	body {
		margin: 2mm 9mm;
		line-height: 1.5em;
		font-family: -apple-system-font;
	}
	.original-url {
		display: none;
	}
	a {
		text-decoration: underline;
	}
}

@media screen {
	body {
		margin: 0;
		padding: 0;
		-webkit-user-select: none;
		overflow-x: hidden;
		-webkit-text-size-adjust: none;
	}
	body.mac {
		background-color: transparent;
	}
	.cached embed, .cached applet, .cached object {
		display: none !important;
	}
	#article {
		pointer-events: auto;
		-webkit-user-select: auto;
		overflow: visible;
	}
	#article:focus {
		outline: none;
	}
	.page-number {
		display: block;
	}
	.page-number, #incoming-page-corner {
		font-weight: bold;
		position: absolute;
		-webkit-user-select: none;
		font: 12px "Helvetica Neue";
		color: rgb(168, 168, 168);
		cursor: default;
	}
	.page {
		margin-left: auto;
		margin-right: auto;
		padding-top: 35px;
		padding-bottom: 35px;
		position: relative;
		border-top: 1px;
	}
	.page video {
		position: relative;
	}
	#incoming-page-placeholder {
		height: 30px;
		margin-bottom: 0;
	}
	#incoming-page-corner {
		position: absolute;
		right: 10px;
		top: 8px;
	}
	#incoming-page-text {
		float: right;
		-webkit-user-select: none;
	}
	#next-page-container {
		position: absolute;
		/* Workaround for <rdar://problem/8662842> iOS Reader: loading multiple pages stops at the 2nd page. */
		/*display: none;*/
		left: -1000px;
		/* The iframe needs to be wider than the width threshold value for Reader detection, see <rdar://problem/9599297>. */
		width: 320px;
		height: 0px;
	}
	.page div.scrollable {
		-webkit-overflow-scrolling: touch;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
	.page {
		border-top-width: 0.5px;
	}
	hr {
		height: 0.5px;
	}
}

#article .extendsBeyondTextColumn {
	max-width: none;
}



@media only screen and (min-width: 780px) {
	body {
		-webkit-text-size-adjust: auto;
	}
	#article {
		max-width: 800px;
		margin: 0;
	}

	/* Readable margins. */
	body.system #article {
		max-width: 83.2ex;
	}
	body.athelas #article {
		max-width: 104ex;
	}
	body.charter #article {
		max-width: 86ex;
	}
	body.georgia #article {
		max-width: 94ex;
	}
	body.iowan #article {
		max-width: 90ex;
	}
	body.palatino #article {
		max-width: 97ex;
	}
	body.seravek #article {
		max-width: 87ex;
	}
	body.times #article {
		max-width: 97ex;
	}
	.page {
		/* We don't want the lines seperating pages to extend beyond the primary text column. */
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 70px;
		margin-right: 70px;
	}
}

#article {
	-webkit-font-smoothing: subpixel-antialiased;
}

/* Reader's paper appearance. */
html.paper {
	height: 100%;
}

html.paper body:after {
	content: "";
	height: 22px;
	display: block;
}

html.paper #article {
	min-height: 100%;
	margin: 22px;
}

html.paper #article .page-number, html.paper #article #incoming-page-corner
	{
	/* Stop lining this text up with .page's right margin. */
	top: 14px;
	right: 0px;
}
/* End Reader's paper appearance. */


/* OS X Reader draws backdrop background colors outside of web content, so the follow set only applies to iOS. */
html.paper body.ios.white {
	background-color: rgb(230, 230, 230);
}

html.paper body.ios.sepia {
	background-color: rgb(224, 216, 200);
}

html.paper body.ios.gray {
	background-color: rgb(50, 50, 51);
}

html.paper body.ios.night {
	background-color: black;
}

body.sepia #article .leading-image, body.sepia #article figure, body.sepia #article .auxiliary
	{
	color: rgba(79, 50, 28, 0.9);
}

body.gray #article .leading-image, body.gray #article figure, body.gray #article .auxiliary
	{
	color: rgba(255, 255, 255, 0.7);
}

body.night #article .leading-image, body.night #article figure, body.night #article .auxiliary
	{
	color: rgba(255, 255, 255, 0.67);
}

body.gray #article a, body.night #article a {
	color: rgba(84, 190, 255, 0.95);
}

body.white #article .page {
	color: rgb(27, 27, 27);
	border-top-color: rgb(220, 220, 220);
}

body.sepia #article .page {
	color: rgb(79, 50, 28);
	border-top-color: rgb(230, 218, 201)
}

body.gray #article .page {
	color: rgba(255, 255, 255, 0.7);
	border-top-color: rgb(111, 111, 111);
}

body.night #article .page {
	color: rgb(176, 176, 176);
	border-top-color: rgb(62, 62, 62);
}

body.sepia #article .page-number, body.sepia #article #incoming-page-corner
	{
	color: rgba(63, 41, 23, 0.5);
}

body.gray #article .page-number, body.gray #article #incoming-page-corner
	{
	color: rgba(255, 255, 255, 0.35);
}

body.night #article .page-number, body.night #incoming-page-corner {
	color: rgba(255, 255, 255, 0.55);
}

body.sepia #article hr {
	background: rgb(230, 218, 201)
}

body.gray #article hr {
	background: rgb(111, 111, 111);
}

body.night #article hr {
	background: rgb(62, 62, 62);
}

body.sepia #article blockquote {
	color: rgb(140, 112, 79);
}

body.gray #article blockquote {
	color: rgba(255, 255, 255, 0.5);
}

body.night #article blockquote {
	color: rgba(255, 255, 255, 0.6);
}


body.sepia .page table td, body.sepia .page table th {
	border-color: rgb(230, 218, 202);
}

body.sepia .page table th {
	background-color: rgba(154, 128, 92, 0.06);
}

body.gray .page table td, body.gray .page table th {
	border-color: rgb(106, 106, 106);
}

body.gray .page table th {
	background-color: rgba(255, 255, 255, 0.035);
}

body.night .page table td, body.night .page table th {
	border-color: rgb(50, 50, 50);
}

body.night .page table th {
	background-color: rgba(255, 255, 255, 0.045);
}



b { font-weight: bold; }
i { font-style: italic; }

ul.advertise-reasons { }
ul.advertise-reasons li { list-style-type: disc; margin-left: 20px; }

.smaller-text { font-size: 80%; }
.container footer ul { margin: 20px 0 0 0; }

#billboard { margin-top: -4px; }
#billboard .da-space { padding-bottom: 4px; }

.articleList header h5 { color: #fff; }
.articleList ul li a { display: block; }
h5.heading { background-color: #2c2c2c; color: #fff;padding: 10px; margin-bottom: 1px; }
a.clean,
a:visited.clean, 
a:hover.clean { font-weight: inherit; font-style: inherit; border: inherit; text-decoration: inherit; color: inherit; }

table.article-listing td.draft { background-color: #e6d25f; }
table.article-listing td.pending { background-color: #75BED8; }
table.article-listing td.published { background-color: #8ad46a; }

.articleListItem header h5 { margin-left:15px; font-size: 100%; color: #888; }

.four.columns aside div.about { padding: 10px; background-color: white; }
.four.columns aside div.about p { font-size: 12px; }

pre { font-family: Consolas, monospace; white-space:pre-wrap}

div.horizontal { text-align: center; }
div.horizontal ul li { display: inline-block; margin-right: 25px; }

div.sponsor-container > div { float: left; width: 48%; padding: 15px; margin-left: 5px; }
div.sponsor-container .sponsor-logo-container { text-align: center; height: 80px; }
div.sponsor-container > div img { max-width: 250px; max-height: 80px; }
div.sponsor-container > div p { margin-top: 15px; font-size: 12px; }
div.sponsor-container::after { clear: both; }

div.sponsor-footer { margin-top: 20px; text-align: center; }

.inset { float: right; margin: 8pt; width: 52%; }
